/* styles.css */

* {
	font-family: Arial;
}

.headline {
	margin-top: 30px;
	border-top: 2px solid #111111;
	border-bottom: 2px solid #111111;
}

.horizontal_line {
    border-bottom: 2px solid black;
    width: 90%;
  }

p {
	font-family: "PT Serif";
	font-size: 20px;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: "Permanent Marker";
	font-size: 35px;
}

h2 {
	font-family: "Permanent Marker";
	font-size: 25px;
}

h3 {
	font-family: "Permanent Marker";
	font-size: 25px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Helps with alignment issues */
}

