/* styles.css */

* {
	font-family: Arial;
}

.headline {
	margin-top: 30px;
	border-top: 2px solid #111111;
	border-bottom: 2px solid #111111;
}

.horizontal_line {
    border-bottom: 2px solid black;
    width: 90%;
  }

p {
	font-famoly: "PT Serif";
	font-size: 20px;
	text-align: left;
}

h1 {
	font-famoly: "PT Serif";
	font-size: 30px;
	text-align: left;
}

h2 {
	font-famoly: "PT Serif";
	font-size: 30px;
	text-align: left;
}

h3 {
	font-famoly: "PT Serif";
	font-size: 30px;
	text-align: left;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
